<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Profile Suite" verbose="1">
  <test name="Search Profile">
    <parameter name="name" value="Chara"></parameter>
    <parameter name="gender" value="female"></parameter>
    <parameter name="age" value="36"></parameter>
    <parameter name="valid-id" value="1"></parameter>
    <parameter name="invalid-id" value="999"></parameter>
    <classes>
      <class name="com.qg.tests.basic.SearchProfileTests"></class>
    </classes>
  </test>

  <test name="Create Profile">
    <parameter name="create-profile-payload" value="create-profile-payload.json"></parameter>
    <classes>
      <class name="com.qg.tests.basic.CreateProfileTests"></class>
    </classes>
  </test>

  <test name="Delete Profile by Id">
    <parameter name="valid-delete-id" value="5"></parameter>
    <parameter name="invalid-delete-id" value="999999"></parameter>
    <classes>
      <class name="com.qg.tests.basic.DeleteProfileTests"></class>
    </classes>
  </test>

  <test name="Update Profile by Id">
    <parameter name="location" value="Sydney"></parameter>
    <parameter name="valid-update-id" value="3"></parameter>
    <parameter name="invalid-update-id" value="999999"></parameter>
    <classes>
      <class name="com.qg.tests.basic.UpdateProfileTests"></class>
    </classes>
  </test>

</suite>
